section{
    background-color: burlywood;
    display: flex;
    justify-content: space-between;
    height: 500px;
    padding-top: 230px
}
div{
    background-color: orangered;
    padding-left: 15px;

}
p{
    padding: 5px;
    text-align: center;
}
.div1{

    
    width: 10%;
    height: 25%;
}
.div2{
    height: 25%;
    width: 15%;
    
}
.div3{
    height: 25%;
    width: 40%;
    
}
.div4{
    height: 25%;
    width: 30%;
    
}